body{
  margin: 0;
  padding: 0;
  height: 100%;
  width: auto;
}
.whole-container{
  display: flex;
  height: 860px;
}
.right-container{
  height: 870px;
  width: 50%;
  background: linear-gradient(to top, rgb(51, 70, 243), violet);
}
.left-container{
  color: white;
  background-color: white;
  height: 870px;
  width: 95%;
  margin-left: -40px;
  border-top-left-radius: 30px ;
  border-bottom-left-radius: 30px;
  position: relative;
}
.right-container h1{
    color: white ;
    font-family: Geneva, Tahoma, sans-serif;
    margin-left: 20%;
    margin-right: 10%;
    margin-top: 60%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    
}
.right-container h2{
  color: white ;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-left: 3%;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.left-container .items{
  margin: 5% 0% 0% 5%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: black;
}
.signupForm input {
  margin: 30px 10px 0px 55px;
  padding: 0px 30px 0px;
  height: 60px;
  width: 385px;
  border: solid black 2px;
  border-radius: 10px;
}
.Terms-condition label{
  color: black;
  font-size: 20px;
}
.Terms-condition label input{
  margin-left: 5%;
  margin-top: 3%;
}
.Terms-condition a{
  color: black;
  font-weight: bold;
  font-family:'Lucida Sans';
}
input[type="checkbox"] {
  width: 40px; 
  height: 20px; 
}

.signupForm button{
  margin-left: 6%;
  margin-top: 100px;
  background: linear-gradient(to top, rgb(51, 70, 243), violet);
  border: none;
  color: white;
  border-radius: 20px;
  height: 60px;
  width: 91%;
  transition: 0.7s;
}
button:hover{
  transform: scale(0.90);
  background-color: #5ab9ea;
}
.holder4 label{
  color: black;
  position: absolute;
  margin-left: 60px;
  margin-top: 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bolder;
}